{%load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static '/css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <!-- <h1>Bienvenido {{user_perfil}}</h1>
    <a href="logout">Logout</a> -->
    <nav>
        <h1>PhotoBooth</h1>
        <ul>
            <li><a href="logout">Salir</a></li>
            <li><a href="#"> {{user_perfil}}</a></li>
        </ul>
    </nav>

    <main>    
        <section class="Contenido_principal">
            <article>
                <div class="encabezado">
                    <h3>@UsuarioRandom</h3>
                </div>
                <img src="/media/foto2.png" alt= "">
                <div class="interacciones">Barra de interaccion</div>
                <div class="comentarios">

                </div>
            </article>
        </section>
    
        <section class="Contenido_recomendado">
            <form  action="upload" method="POST" class="formulario" enctype="multipart/form-data">
                {% csrf_token%}
                <input type="file" name="imagen_cargada"><br>
                <textarea id="caption" name="caption"></textarea><br>
                <input type="submit">
            </form>
        </section>    
    </main>
    
</body>
</html>