{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static '/css/signup.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="fondo">

    </div>
    <main>
 <div class="nav">
        <h1>SignUp for Photobooth</h1>
    </div>
    <div>
        {% for message in messages %}
        <p>{{message}}</p>
        {%endfor%}
    </div>
    <section class="main">
        <div class="Banner">
            <img src="/media/jed-villejo-pumko2FFxY0-unsplash.jpg" alt="">
        </div>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token%}
            <div class="contenedor1">
                <div class="imgUser">
                    <picture>
                       <img src="/media/blank-profile-picture-973460_960_720.webp" alt="" class="user" >
                   </picture>
                   <input type="file" id="avatar" name="Avatar">
               </div>
               <div class="FullName">
                    <div>
                        <label for="">Name:</label>
                        <input type="text" id="nombre" name="nombre" required>
                    </div>
                    <div>
                        <label for="">LastName:</label>
                        <input type="text" id="apellido" name="apellido" required>
                    </div>
                   
               </div>
            </div>
            <div class="UserName">
                <label for="">UserName</label>
                <input type="text" id="usuario" name="usuario" required>
            </div>
            <div class="Email">
                <label for="">Email</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="Password">
                <div>
                    <label for="">Password</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div>
                    <label for="">Confirm Password</label>
                    <input type="password" id="confirm_password" name="confirm_password" required>
                </div>
            </div>
           <div class="btnEnviar">
            <input type="submit" value="SignIn" class="btn">
            <a href="signin" class="btn">Volver</a>
           </div>
        </form>
    </section>
    </main>
   
    <script src="{%static '/Js/uploadAvatar.js' %}"></script>
</body>
</html>